
html, body {
  height: 100%;

 }

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;

  /*background-color: #24243e; */

background: linear-gradient(-45deg, #0575E6, #00F260);
  /*background: linear-gradient(-45deg, #313f24, #24243f);*/

}
